footer.footer-default
    .container
        .footer-logo
            img(src="../assets/images/logo-bap.png", alt="logo-bap")
        ul.footer-nav
            li.nav__item
                a(href="#").nav__link Site Map
            li.nav__item
                a(href="#").nav__link Privacy Policy
            li.nav__item
                a(href="#").nav__link Website Policy
            li.nav__item
                a(href="#").nav__link Contact
        ul.footer-socials
            li.social__item
                a(href="#").social__link
                    i.fab.fa-facebook-square
            li.social__item
                a(href="#").social__link
                    i.fab.fa-instagram
            li.social__item
                a(href="#").social__link
                    i.fab.fa-twitter
            li.social__item
                a(href="#").social__link
                    i.fab.fa-youtube
        .copyright Copyright © 2022 BAP IT CO., JSC. All Rights Reserved.