footer.footer-default
    .container
        .footer-layout
            .layout__left
                .footer-logo
                    img(src="../assets/images/logo-bap.png", alt="logo-bap")
                ul.footer-nav
                    li.nav__item
                        a(href="#").nav__link Site Map
                    li.nav__item
                        a(href="#").nav__link Privacy Policy
                    li.nav__item
                        a(href="#").nav__link Website Policy
                    li.nav__item
                        a(href="#").nav__link Contact
                ul.footer-socials
                    li.social__item
                        a(href="#").social__link
                            i.fab.fa-facebook-square
                    li.social__item
                        a(href="#").social__link
                            i.fab.fa-instagram
                    li.social__item
                        a(href="#").social__link
                            i.fab.fa-twitter
                    li.social__item
                        a(href="#").social__link
                            i.fab.fa-youtube
            .layout__right
                .footer-location-headding
                    img.country(src="../assets/images/languages-icons/vietnamese.png", alt="vietnamese")
                    span BAP in Viet Nam
                .footer-locations
                    .location__item
                        ul
                            li
                                p Hà Nội
                            li
                                p 9F, Hòa bình Complex Building, 106 Hoàn Quốc Việt, Cầu Giấy, Hà Nội
                            li
                                p (+84) 986 241 041
                    .location__item
                        ul
                            li
                                p Hồ Chí Minh
                            li
                                p 17F Viettel Complex Building, 285 Cach Mang Thang 8, District 10, HCM
                            li
                                p (+84) 37 2905 138
                    .location__item
                        ul
                            li
                                p Đà Nẵng
                            li
                                p Lầu 10, 81 Đường Quang Trung, Quận Hải Châu, Đà Nẵng, Việt Nam
                            li
                                p (+84) 2366 565 115
                    .location__item
                        ul
                            li
                                p Huế
                            li
                                p Lầu 5, 28 Đường Lý Thường Kiệt., Phường Vĩnh Ninh, Huế, Việt Nam
                            li
                                p (+84) 2346 273 555
                .footer-location-headding
                    img.country(src="../assets/images/languages-icons/japanese.png", alt="japanese")
                    span BAP in Japan
                .footer-locations
                    .location__item
                        ul
                            li
                                p Tokyo
                            li
                                p 103-0025 Lầu 5 tòa nhà Okamoto, 1-11-3 Nihonbashi, Kayabacho, Chuo-ku, Tokyo
                            li
                                p (+81) 362 804 268
                    .location__item
                        ul
                            li
                                p Osaka
                            li
                                p Lầu 8 tòa nhà Toshiba Osaka, 4-2-12 Honmachi, Chuo-ku, Osaka
                            li
                                p (+81) 802 399 7280
        .copyright Copyright © 2022 BAP IT CO., JSC. All Rights Reserved.