header.header-default
    .header-bar
        a(href="/").header-logo
            img(src="../assets/images/logo-bap.png", alt="logo-bap")
        .header-function
            .header-nav
                ul.header-nav__items
                    li.nav__item.active
                        a(href="about.html") About
                    li.nav__item
                        a(href="services.html") Services
                        .nav-sub-items-wrapper
                            .nav-sub-item-heading
                                a.nav-sub-item-title(href="services.html") Services
                            ul.nav-sub-items
                                li.sub__item
                                    a(href="service-detail.html")
                                        span.lcl.lcl-1 Website/Smartphone App development
                                li.sub__item
                                    a(href="service-detail.html")
                                        span.lcl.lcl-1 Business Application development
                                li.sub__item
                                    a(href="service-detail.html")
                                        span.lcl.lcl-1 ERP, SAP system development & consulting
                                li.sub__item
                                    a(href="service-detail.html")
                                        span.lcl.lcl-1 Game Development
                                li.sub__item
                                    a(href="service-detail.html")
                                        span.lcl.lcl-1 Blockchain technology app development
                                li.sub__item
                                    a(href="service-detail.html")
                                        span.lcl.lcl-1 AI technology app development
                                li.sub__item
                                    a(href="service-detail.html")
                                        span.lcl.lcl-1 Big Data technology app development
                    li.nav__item
                        a(href="case-studies.html") Case Study
                        .nav-sub-items-wrapper
                            .nav-sub-item-heading
                                a.nav-sub-item-title(href="case-studies.html") Case Study
                            ul.nav-sub-items
                                li.sub__item
                                    a(href="case-study-detail.html")
                                        span.lcl.lcl-1 Customer Voice
                                li.sub__item
                                    a(href="case-study-detail.html")
                                        span.lcl.lcl-1 Website/ Smartphone App Project
                                li.sub__item
                                    a(href="case-study-detail.html")
                                        span.lcl.lcl-1 Business Application Project
                                li.sub__item
                                    a(href="case-study-detail.html")
                                        span.lcl.lcl-1 SAP Project
                                li.sub__item
                                    a(href="case-study-detail.html")
                                        span.lcl.lcl-1 Game Project
                                li.sub__item
                                    a(href="case-study-detail.html")
                                        span.lcl.lcl-1 Blockchain Project
                                li.sub__item
                                    a(href="case-study-detail.html")
                                        span.lcl.lcl-1 AI Project
                                li.sub__item
                                    a(href="case-study-detail.html")
                                        span.lcl.lcl-1 BigData Project
                                li.sub__item
                                    a(href="case-study-detail.html")
                                        span.lcl.lcl-1 Migration Cobol Project
                    li.nav__item
                        a(href="#") Why BAP
                    li.nav__item
                        a(href="#") Knowledge
                        .nav-sub-items-wrapper
                            .nav-sub-item-heading
                                a.nav-sub-item-title(href="#") Knowledge
                            ul.nav-sub-items
                                li.sub__item
                                    a(href="#")
                                        span.lcl.lcl-1 Technology
                                li.sub__item
                                    a(href="#")
                                        span.lcl.lcl-1 Offshore
                    li.nav__item
                        a(href="#") Recruitment & News
                        .nav-sub-items-wrapper
                            .nav-sub-item-heading
                                a.nav-sub-item-title(href="#") Recruitment & News
                            ul.nav-sub-items
                                li.sub__item
                                    a(href="#")
                                        span.lcl.lcl-1 Recruitment
                                li.sub__item
                                    a(href="#")
                                        span.lcl.lcl-1 BAP's News
                                li.sub__item
                                    a(href="#")
                                        span.lcl.lcl-1 Internship Program
                    li.nav__item
                        a.btn.btn-secondary(href="#") INQUIRE NOW
                    li.nav__item.headertoggle-full-navigation
                        i.far.fa-bars
                    li.nav__item.header-languages
                        .languages.dropdown
                            .button-choose-language(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                                img.language-icon(src="../assets/images/languages-icons/english.png", alt="ENG")
                                .language-name ENG
                            .dropdown-menu
                                .button-choose-language.dropdown-item
                                    img.language-icon(src="../assets/images/languages-icons/vietnamese.png", alt="VIE")
                                    .language-name VIE
                                .button-choose-language.dropdown-item
                                    img.language-icon(src="../assets/images/languages-icons/japanese.png", alt="JPN")
                                    .language-name JPN