extends ../layouts/layout

block params
    - class_body = "case-study-detail-page"
    - title_page = "BAP Software - Website/App"
    - page_title = "Website/App"
    - url_bg_page_title = "background-image: url('../../assets/images/page-title/services.jpg')"
block css
    link(rel="stylesheet", href="./assets/css/service-detail.css")
block js
block main
    include ../components/page-title
    section.section-service-detail
        .container
            .row
                .col-lg-4
                    .service-sidebar
                        .sidebar-widget.service-sidebar-single
                            ul.services
                                li
                                    a(href="service-detail.html") BLOCKCHAIN
                                li
                                    a(href="service-detail.html") AI/IOT
                                li
                                    a.current(href="service-detail.html") WEBSITE /SMARTPHONE APP
                                li
                                    a(href="service-detail.html") BUSINESS APPLICATION
                                li
                                    a(href="service-detail.html") SAP/ERP
                                li
                                    a(href="service-detail.html") GAME
                        .sidebar-widget.banner-widget
                            .widget-content(style="background-image: url(https://kodesolution.com/html/2022/oitech-html/images/resource/contact.jpg);")
                                .shape(style="background-image: url(https://kodesolution.com/html/2022/oitech-html/images/resource/overlay-shape.png);")
                                .content-box
                                    .icon-box
                                        i.fas.fa-handshake-alt
                                    h3 BE ADVANCED
                                        br
                                        | PARTNER
                                    a.btn.btn-light(href="#") Contact us
                .col-lg-8
                    .services-detail__content
                        .case-studies
                            -for(i=0;i<8;i++)
                                .case-study__item
                                    .image
                                        a(href="news-detail.html")
                                            img(src="../assets/images/services/ai-iot.png", alt="ai-iot")
                                    .info-case
                                        .meta
                                            .heading-title
                                                h5 AI/IOT
                                                span.time 04-06-2020
                                        .content-case
                                            a(href="news-detail.html")
                                                h4 Smart OCR
                                            p.lcl.lcl-4 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos excepturi architecto voluptates. Cum amet vero labore! Cupiditate iusto officia quas assumenda quae. Laudantium ipsum, asperiores repudiandae sequi magni cupiditate deleniti! Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, a tenetur. Nobis ullam, esse inventore velit numquam adipisci dolorem animi veritatis est atque magnam voluptas error. A excepturi iusto non?
                        .page-navigation
                            nav.page-nav.right
                                a(href="#").prev.page-numbers
                                    i.fa.fa-angle-left
                                span.page-numbers.current 1
                                a(href="#").page-numbers 2
                                a(href="#").page-numbers 3
                                a(href="#").page-numbers.dots ...
                                a(href="#").page-numbers 6
                                a(href="#").next.page-numbers
                                    i.fa.fa-angle-right