extends ../layouts/layout

block params
    - class_body = "home-page"
    - title_page = "BAP Software - Home"
block css
    link(rel="stylesheet", href="./assets/css/home.css")
block js
    script(src="./assets/js/home.js")
block main
    include ../components/hero-banner-01
    section.section-our-services
        .container
            .our-services-wrapper
                .title-default
                    h3 OUR SERVICES
                    h2 You are 
                        br 
                        | looking for service
                    p.sm Technology knowledge together with our plentiful experiences, 
                        br
                        | we provide an innovative Offshore service for variety of product and industry.
                .our-services
                    ul.nav.nav-tabs(role='tablist')
                        li.nav-item
                            a.nav-link.active(data-toggle='tab' href='#ai_oit' role='tab' aria-selected='true')
                                span 01.
                                span AI/IOT
                        li.nav-item
                            a.nav-link(data-toggle='tab' href='#blockchain' role='tab' aria-selected='false')
                                span 02.
                                span BLOCKCHAIN
                        li.nav-item
                            a.nav-link(data-toggle='tab' href='#website_app' role='tab' aria-selected='false')
                                span 03.
                                span WEBSITE /SMARTPHONE APP
                        li.nav-item
                            a.nav-link(data-toggle='tab' href='#business_application' role='tab' aria-selected='false')
                                span 04.
                                span BUSINESS APPLICATION
                        li.nav-item
                            a.nav-link(data-toggle='tab' href='#sap_erp' role='tab' aria-selected='false')
                                span 05.
                                span SAP/ERP
                        li.nav-item
                            a.nav-link(data-toggle='tab' href='#game' role='tab' aria-selected='false')
                                span 06.
                                span GAME
                    .tab-content
                        #ai_oit.tab-pane.show.active(role='tabpanel')
                            img(src="../assets/images/services/ai-iot.png", alt="SERVICE-AI-IOT")
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nobis accusamus natus ea deserunt ducimus architecto.
                            .call-to-actions
                                a.btn(href="#")
                                    span Read More
                                    i.fas.fa-long-arrow-alt-right
                        #blockchain.tab-pane(role='tabpanel')
                            img(src="../assets/images/services/blockchain.png", alt="SERVICE-BLOCKCHAIN")
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nobis accusamus natus ea deserunt ducimus architecto.
                            .call-to-actions
                                a.btn(href="#")
                                    span Read More
                                    i.fas.fa-long-arrow-alt-right
                        #website_app.tab-pane(role='tabpanel')
                            img(src="../assets/images/services/website-app.png", alt="SERVICE-WEBSITE-SMARTPHONE-APP")
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nobis accusamus natus ea deserunt ducimus architecto.
                            .call-to-actions
                                a.btn(href="#")
                                    span Read More
                                    i.fas.fa-long-arrow-alt-right
                        #business_application.tab-pane(role='tabpanel')
                            img(src="../assets/images/services/business-application.png", alt="BUSINESS-APPLICATION")
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nobis accusamus natus ea deserunt ducimus architecto.
                            .call-to-actions
                                a.btn(href="#")
                                    span Read More
                                    i.fas.fa-long-arrow-alt-right
                        #sap_erp.tab-pane(role='tabpanel')
                            img(src="../assets/images/services/sap-erp.png", alt="SERVICE-SAP-ERP")
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nobis accusamus natus ea deserunt ducimus architecto.
                            .call-to-actions
                                a.btn(href="#")
                                    span Read More
                                    i.fas.fa-long-arrow-alt-right
                        #game.tab-pane(role='tabpanel')
                            img(src="../assets/images/services/game.png", alt="SERVICE-GAME")
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nobis accusamus natus ea deserunt ducimus architecto.
                            .call-to-actions
                                a.btn(href="#")
                                    span Read More
                                    i.fas.fa-long-arrow-alt-right
    section.section-featured-projects
        .container
            .title-default.ta-c
                h2 Featured Projects
            .featured-projects-swiper
                .swiper-container
                    .swiper-wrapper
                        -for(i=1;i<5;i++)
                            .swiper-slide
                                a(href="#").projects__item
                                    .item__image
                                        img(src=`../assets/images/featured-projects/crypto-war-${i}.jpg`, alt="crypto-war")
                                    .item__desc
                                        .meta
                                            .category Blockchain
                                            .date Thursday / 10.11.2022
                                        h3  Crypto war(Game)
                .swiper-button-next
                .swiper-button-prev
            .featured-projects-actions
                a(href="#").btn.btn-lg.btn-secondary
                    span Read More
                    i.fas.fa-long-arrow-alt-right
    section.section-startup-products
        .title-startup-products BAP's technology startup products
        .startup-products-swiper
            .swiper-container
                .swiper-wrapper
                    -for(i=1;i<5;i++)
                        .swiper-slide
                            a(href="#" target="_blank").product-logo
                                img(src="../assets/images/startup-projects/danang-services.jpg", alt="danang-services")
                        .swiper-slide
                            a(href="#" target="_blank").product-logo
                                img(src="../assets/images/startup-projects/dayconkieunhat.jpg", alt="dayconkieunhat")
                        .swiper-slide
                            a(href="#" target="_blank").product-logo
                                img(src="../assets/images/startup-projects/greenbeli.jpg", alt="greenbeli")
                        .swiper-slide
                            a(href="#" target="_blank").product-logo
                                img(src="../assets/images/startup-projects/lyberzy.jpg", alt="lyberzy")
    section.section-global-company
        .container
            .global-wrapper
                .text-column
                    .title-default.dark
                        h2 Global Presence
                        p.sm Our global offices provide seamless services worldwide.
                            br
                            | We code while you sleep!
                    ul.countries
                        li.country__item(target="global_vi") Vietnam - Head Office
                        li.country__item(target="global_jp") Japan - Osaka & Tokyo Office
                .image-column
                    .image-map
                        img(src="../assets/images/global-company-image-map.png", alt="GLOBAL-COMPANY")
                    .locations#global_vi
                        .locations-wrapper
                            img(src="../assets/images/global-company-image-vi.png", alt="GLOBAL-COMPANY")
                            .information__locations
                                .location__item
                                    .heading
                                        span 01
                                        h4 Hà Nội
                                    p 9F, Hòa bình Complex Building, 106 Hoàn Quốc Việt, Cầu Giấy, Hà Nội
                                .location__item
                                    .heading
                                        span 02
                                        h4 Hồ Chí Minh
                                    p 9F, Hòa bình Complex Building, 106 Hoàn Quốc Việt, Cầu Giấy, Hà Nội
                                .location__item
                                    .heading
                                        span 03
                                        h4 Đà Nẵng
                                    p 9F, Hòa bình Complex Building, 106 Hoàn Quốc Việt, Cầu Giấy, Hà Nội
                                .location__item
                                    .heading
                                        span 04
                                        h4 Huế
                                    p 9F, Hòa bình Complex Building, 106 Hoàn Quốc Việt, Cầu Giấy, Hà Nội
                    .locations#global_jp
                        .locations-wrapper
                            img(src="../assets/images/global-company-image-jp.png", alt="GLOBAL-COMPANY")
                            .information__locations
                                .location__item
                                    .heading
                                        span 01
                                        h4 Tokyo
                                    p 103-0025 Lầu 5 tòa nhà Okamoto, 1-11-3 Nihonbashi, Kayabacho, Chuo-ku, Tokyo
                                .location__item
                                    .heading
                                        span 02
                                        h4 OSAKA
                                    p Lầu 8 tòa nhà Toshiba Osaka, 4-2-12 Honmachi, Chuo-ku, Osaka
    section.section-achievements
        .container
            .achievements
                .achievement__item
                    i.fas.fa-globe-asia
                    .text
                        h4 2
                        p Countries
                .achievement__item
                    i.fas.fa-city
                    .text
                        h4 6
                        p Cities
                .achievement__item
                    i.fas.fa-users
                    .text
                        h4 420
                        p Employees
                .achievement__item
                    i.fas.fa-handshake-alt
                    .text
                        h4 100
                        p Clients
                .achievement__item
                    i.fas.fa-project-diagram
                    .text
                        h4 220
                        p Projects
    section.section-clients
        .title-default.ta-c
            h2 Our Clients
            p Regardless of the size and type of business of the company, there are examples of companies that using BAP developing teams.
        .clients-swiper--01
            .swiper-container
                .swiper-wrapper
                    -for(i=0;i<20;i++)
                        .swiper-slide
                            .client-logo
                                img(src="../assets/images/clients/rakuten.png", alt="rakuten")
                        .swiper-slide
                            .client-logo
                                img(src="../assets/images/clients/vingroup.jpg", alt="vingroup")
        .clients-swiper--02
            .swiper-container
                .swiper-wrapper
                    -for(j=0;j<20;j++)
                        .swiper-slide
                            .client-logo
                                img(src="../assets/images/clients/rakuten.png", alt="rakuten")
                        .swiper-slide
                            .client-logo
                                img(src="../assets/images/clients/vingroup.jpg", alt="vingroup")
    section.section-testimonials
        .container
            .testimonials-wrapper
                .testimonials-swiper
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                p.quote-content "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum odio aut, impedit libero dolores vel. Quam ut, totam officiis pariatur culpa molestiae sit illo? Quam ratione voluptas fugit mollitia et."
                                .quote-speaker
                                    .speaker__avatar
                                        img(src="../assets/images/testimonials/mediotec.jpg", alt="mediotec")
                                    .speaker__name  Mediotec
                                    .speaker__position Co.,Ltd Matsumoto Hidemori CEO
                            .swiper-slide
                                p.quote-content "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum odio aut, impedit libero dolores vel. Quam ut, totam officiis pariatur culpa molestiae sit illo? Quam ratione voluptas fugit mollitia et."
                                .quote-speaker
                                    .speaker__avatar
                                        img(src="../assets/images/testimonials/ogawa.jpeg", alt="ogawa")
                                    .speaker__name  Mr.Ogawa
                                    .speaker__position Assistant Manager, NTT DATA NJK Corporation
                            .swiper-slide
                                p.quote-content "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum odio aut, impedit libero dolores vel. Quam ut, totam officiis pariatur culpa molestiae sit illo? Quam ratione voluptas fugit mollitia et."
                                .quote-speaker
                                    .speaker__avatar
                                        img(src="../assets/images/testimonials/mediotec.jpg", alt="mediotec")
                                    .speaker__name  Mediotec
                                    .speaker__position Co.,Ltd Matsumoto Hidemori CEO
                        .swiper-button-next
                        .swiper-button-prev
    section.section-awards
        .container
            .headding
                h2 Top 10 Vietnam ICT Companies 2020
                h2 Company Awarded by the VINASA
            .award-images-and-actions
                img(src="../assets/images/certification.png", alt="certification")
                a(href="#").btn.btn-lg.btn-secondary
                    span Read More
                    i.fas.fa-long-arrow-alt-right
            img.award-cup(src="../assets/images/section-awards-cup.png", alt="awards-cup")