extends ../layouts/layout

block params
    - class_body = "home-page"
    - title_page = "BAP Software - Home"
block css
    link(rel="stylesheet", href="./assets/css/home.css")
block js
    script(src="./assets/js/home.js")
block main
    include ../components/hero-banner-01
    section.section-our-services
        .container
            .our-services-wrapper
                .title-default
                    h3 OUR SERVICES
                    h2 Global SDaaS /
                        br 
                        | Blockchain & IT Consulting
                    p Our dedicated and highly professional team strives to provide our global clients with
                        br
                        | full-stack solutions by multiple platforms, languages in a timely manner.
                .our-services
                    ul.nav.nav-tabs(role='tablist')
                        li.nav-item
                            a.nav-link.active(data-toggle='tab' href='#ai_oit' role='tab' aria-selected='true')
                                span 01.
                                span AI/IOT
                        li.nav-item
                            a.nav-link(data-toggle='tab' href='#blockchain' role='tab' aria-selected='false')
                                span 02.
                                span BLOCKCHAIN
                        li.nav-item
                            a.nav-link(data-toggle='tab' href='#website_app' role='tab' aria-selected='false')
                                span 03.
                                span WEBSITE /SMARTPHONE APP
                        li.nav-item
                            a.nav-link(data-toggle='tab' href='#business_application' role='tab' aria-selected='false')
                                span 04.
                                span BUSINESS APPLICATION
                        li.nav-item
                            a.nav-link(data-toggle='tab' href='#sap_erp' role='tab' aria-selected='false')
                                span 05.
                                span SAP/ERP
                        li.nav-item
                            a.nav-link(data-toggle='tab' href='#game' role='tab' aria-selected='false')
                                span 06.
                                span GAME
                    .tab-content
                        #ai_oit.tab-pane.show.active(role='tabpanel')
                            img(src="../assets/images/services/ai-iot.png", alt="SERVICE-AI-IOT")
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nobis accusamus natus ea deserunt ducimus architecto.
                            .call-to-actions
                                a.btn(href="#")
                                    span Read More
                                    i.fas.fa-long-arrow-alt-right
                        #blockchain.tab-pane(role='tabpanel')
                            img(src="../assets/images/services/blockchain.png", alt="SERVICE-BLOCKCHAIN")
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nobis accusamus natus ea deserunt ducimus architecto.
                            .call-to-actions
                                a.btn(href="#")
                                    span Read More
                                    i.fas.fa-long-arrow-alt-right
                        #website_app.tab-pane(role='tabpanel')
                            img(src="../assets/images/services/blockchain.png", alt="SERVICE-BLOCKCHAIN")
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nobis accusamus natus ea deserunt ducimus architecto.
                            .call-to-actions
                                a.btn(href="#")
                                    span Read More
                                    i.fas.fa-long-arrow-alt-right
                        #business_application.tab-pane(role='tabpanel')
                            img(src="../assets/images/services/ai-iot.png", alt="SERVICE-AI-IOT")
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nobis accusamus natus ea deserunt ducimus architecto.
                            .call-to-actions
                                a.btn(href="#")
                                    span Read More
                                    i.fas.fa-long-arrow-alt-right
                        #sap_erp.tab-pane(role='tabpanel')
                            img(src="../assets/images/services/ai-iot.png", alt="SERVICE-AI-IOT")
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nobis accusamus natus ea deserunt ducimus architecto.
                            .call-to-actions
                                a.btn(href="#")
                                    span Read More
                                    i.fas.fa-long-arrow-alt-right
                        #game.tab-pane(role='tabpanel')
                            img(src="../assets/images/services/ai-iot.png", alt="SERVICE-AI-IOT")
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nobis accusamus natus ea deserunt ducimus architecto.
                            .call-to-actions
                                a.btn(href="#")
                                    span Read More
                                    i.fas.fa-long-arrow-alt-right
    section.section-global-company
        .container
            .global-wrapper
                .text-column
                    .title-default.dark
                        h2 Global Presence
                        p Our global offices provide seamless services worldwide.
                            br
                            | We code while you sleep!
                    ul.list-site
                        li.site__item Vietnam - Head Office
                        li.site__item Japan - Osaka & Tokyo Office
                .image-column
                    .image-map
                        img(src="../assets/images/global-company-image-map.png", alt="GLOBAL-COMPANY")
    section.section-achievements
        .container
            .achievements
                .achievement__item
                    i.fas.fa-globe-asia
                    .text
                        h4 2
                        p Countries
                .achievement__item
                    i.fas.fa-city
                    .text
                        h4 6
                        p Cities
                .achievement__item
                    i.fas.fa-users
                    .text
                        h4 420
                        p Employees
                .achievement__item
                    i.fas.fa-handshake-alt
                    .text
                        h4 100
                        p Clients
                .achievement__item
                    i.fas.fa-project-diagram
                    .text
                        h4 220
                        p Projects
    section.section-clients
        .title-default.ta-c
            h2 Our Clients
            p Regardless of the size and type of business of the company, there are examples of companies that using BAP developing teams.
        .clients-swiper--01
            .swiper-container
                .swiper-wrapper
                    -for(i=0;i<20;i++)
                        .swiper-slide
                            .client-logo
                                img(src="../assets/images/clients/rakuten.png", alt="rakuten")
                        .swiper-slide
                            .client-logo
                                img(src="../assets/images/clients/vingroup.jpg", alt="vingroup")
        .clients-swiper--02
            .swiper-container
                .swiper-wrapper
                    -for(j=0;j<20;j++)
                        .swiper-slide
                            .client-logo
                                img(src="../assets/images/clients/rakuten.png", alt="rakuten")
                        .swiper-slide
                            .client-logo
                                img(src="../assets/images/clients/vingroup.jpg", alt="vingroup")
    section.section-testimonials
        .container
            .testimonials-wrapper
                .testimonials-swiper
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                p.quote-content "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum odio aut, impedit libero dolores vel. Quam ut, totam officiis pariatur culpa molestiae sit illo? Quam ratione voluptas fugit mollitia et."
                                .quote-speaker
                                    .speaker__avatar
                                        img(src="../assets/images/testimonials/mediotec.jpg", alt="mediotec")
                                    .speaker__name  Mediotec
                                    .speaker__position Co.,Ltd Matsumoto Hidemori CEO
                            .swiper-slide
                                p.quote-content "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum odio aut, impedit libero dolores vel. Quam ut, totam officiis pariatur culpa molestiae sit illo? Quam ratione voluptas fugit mollitia et."
                                .quote-speaker
                                    .speaker__avatar
                                        img(src="../assets/images/testimonials/ogawa.jpeg", alt="ogawa")
                                    .speaker__name  Mr.Ogawa
                                    .speaker__position Assistant Manager, NTT DATA NJK Corporation
                            .swiper-slide
                                p.quote-content "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum odio aut, impedit libero dolores vel. Quam ut, totam officiis pariatur culpa molestiae sit illo? Quam ratione voluptas fugit mollitia et."
                                .quote-speaker
                                    .speaker__avatar
                                        img(src="../assets/images/testimonials/mediotec.jpg", alt="mediotec")
                                    .speaker__name  Mediotec
                                    .speaker__position Co.,Ltd Matsumoto Hidemori CEO
                        .swiper-button-next
                        .swiper-button-prev
    section.section-home-news
        .container
            .title-default.ta-c
                h2 Blog & News