extends ../layouts/layout

block params
    - class_body = "home-page"
    - title_page = "BAP Software - Home"
block css
    link(rel="stylesheet", href="./assets/css/home.css")
block js
    script(src="./assets/js/home.js")
block main
    include ../components/main-slider
    section.section-our-services
        .container
            .our-services-wrapper
                .title-default
                    h3 OUR SERVICES
                    h2 You are looking for service
                    p.sm Technology knowledge together with our plentiful experiences, 
                        br
                        | we provide an innovative Offshore service for variety of product and industry.
                .our-services
                    ul.nav.nav-tabs
                        li.nav-item
                            a.nav-link(href='ai_oit')
                                span 01.
                                span AI/IOT
                        li.nav-item
                            a.nav-link(href='blockchain')
                                span 02.
                                span BLOCKCHAIN
                        li.nav-item
                            a.nav-link(href='website_app')
                                span 03.
                                span WEBSITE /SMARTPHONE APP
                        li.nav-item
                            a.nav-link(href='business_application')
                                span 04.
                                span BUSINESS APPLICATION
                        li.nav-item
                            a.nav-link(href='sap_erp')
                                span 05.
                                span SAP/ERP
                        li.nav-item
                            a.nav-link(href='game')
                                span 06.
                                span GAME
                    .tab-content
                        #ai_oit.tab-pane
                            img(src="../assets/images/services/ai-iot.png", alt="SERVICE-AI-IOT")
                            p.lcl.lcl-4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dolorum ab quibusdam! Animi dolor, debitis aspernatur consequuntur alias officia veniam praesentium? Sequi aliquid optio expedita earum, cupiditate amet? Necessitatibus, odio! Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nobis accusamus natus ea deserunt ducimus architecto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nobis accusamus natus ea deserunt ducimus architecto.
                            .call-to-actions
                                a.btn(href="#")
                                    span Read More
                                    i.fas.fa-long-arrow-alt-right
                        #blockchain.tab-pane
                            img(src="../assets/images/services/blockchain.png", alt="SERVICE-BLOCKCHAIN")
                            p.lcl.lcl-4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dolorum ab quibusdam! Animi dolor, debitis aspernatur consequuntur alias officia veniam praesentium? Sequi aliquid optio expedita earum, cupiditate amet? Necessitatibus, odio! Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nobis accusamus natus ea deserunt ducimus architecto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nobis accusamus natus ea deserunt ducimus architecto.
                            .call-to-actions
                                a.btn(href="#")
                                    span Read More
                                    i.fas.fa-long-arrow-alt-right
                        #website_app.tab-pane
                            img(src="../assets/images/services/website-app.png", alt="SERVICE-WEBSITE-SMARTPHONE-APP")
                            p.lcl.lcl-4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dolorum ab quibusdam! Animi dolor, debitis aspernatur consequuntur alias officia veniam praesentium? Sequi aliquid optio expedita earum, cupiditate amet? Necessitatibus, odio! Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nobis accusamus natus ea deserunt ducimus architecto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nobis accusamus natus ea deserunt ducimus architecto.
                            .call-to-actions
                                a.btn(href="#")
                                    span Read More
                                    i.fas.fa-long-arrow-alt-right
                        #business_application.tab-pane
                            img(src="../assets/images/services/business-application.png", alt="BUSINESS-APPLICATION")
                            p.lcl.lcl-4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dolorum ab quibusdam! Animi dolor, debitis aspernatur consequuntur alias officia veniam praesentium? Sequi aliquid optio expedita earum, cupiditate amet? Necessitatibus, odio! Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nobis accusamus natus ea deserunt ducimus architecto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nobis accusamus natus ea deserunt ducimus architecto.
                            .call-to-actions
                                a.btn(href="#")
                                    span Read More
                                    i.fas.fa-long-arrow-alt-right
                        #sap_erp.tab-pane
                            img(src="../assets/images/services/sap-erp.png", alt="SERVICE-SAP-ERP")
                            p.lcl.lcl-4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dolorum ab quibusdam! Animi dolor, debitis aspernatur consequuntur alias officia veniam praesentium? Sequi aliquid optio expedita earum, cupiditate amet? Necessitatibus, odio! Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nobis accusamus natus ea deserunt ducimus architecto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nobis accusamus natus ea deserunt ducimus architecto.
                            .call-to-actions
                                a.btn(href="#")
                                    span Read More
                                    i.fas.fa-long-arrow-alt-right
                        #game.tab-pane
                            img(src="../assets/images/services/game.png", alt="SERVICE-GAME")
                            p.lcl.lcl-4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dolorum ab quibusdam! Animi dolor, debitis aspernatur consequuntur alias officia veniam praesentium? Sequi aliquid optio expedita earum, cupiditate amet? Necessitatibus, odio! Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nobis accusamus natus ea deserunt ducimus architecto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat nobis accusamus natus ea deserunt ducimus architecto.
                            .call-to-actions
                                a.btn(href="#")
                                    span Read More
                                    i.fas.fa-long-arrow-alt-right
    section.section-why-us#whybap
        .container
            .why-us-wrapper
                .why-us-content
                    .title-default
                        h2 Why choose BAP Software as a Partner?
                    p BAP GROUP always aim to bring innovation to all products of our customers as well as our own. Technology innovations are influencing life and contribute positive changes to the society, in which BAP-ers always believe and aiming to.
                    ul
                        li
                            span PEOPLE
                            span Engineer team familiar with Japan, Australia, Singapore culture, with more than 8 years experience working for top companies
                            span Capable from analysis to operating system stage.
                        li
                            span TECHNOLOGY:
                            span Utilized most-updated technologies to achieve greater performance, increase expandability, optimize budget for clients.
                        li
                            span PRODUCT:
                            span Omotenashi and Kodawari spirits perform throughout the process from consultancy stage to operating stage.
                            span BAP would be able to consult more effective as we has been developing multiple products for our own.
                        li
                            span BUSINESS SCALE:
                            span Over 420 engineers with offices in 6 cities, certified in Quality Management ISO 9001, Information Security Management ISO 27001
                            span Vietnam’s Top 20 Golden Brands 2020 in Product Quality category.
                            span Vietnam’s Top 10 ICT companies 2020,2021 ( revenue, AI, Blockchain)
                .why-us-image
                    img(src="../assets/images/why.png", alt="why")
    section.section-featured-projects
        .container
            .title-default.ta-c
                h2 Featured Projects
            .featured-projects-swiper
                .swiper
                    .swiper-wrapper
                        -for(i=1;i<5;i++)
                            .swiper-slide
                                a(href="#").projects__item
                                    .item__image
                                        img(src=`../assets/images/featured-projects/crypto-war-${i}.jpg`, alt="crypto-war")
                                    .item__desc
                                        .meta
                                            .category Blockchain
                                            .date Thursday / 10.11.2022
                                        h3  Crypto war(Game)
                .swiper-button-next
                .swiper-button-prev
            .featured-projects-actions
                a(href="#").btn.btn-lg.btn-secondary
                    span Read More
                    i.fas.fa-long-arrow-alt-right
    section.section-startup-products
        .container
            .title-startup-products BAP's technology startup products
        .startup-products-swiper.swiper
            .swiper-wrapper
                -for(i=1;i<5;i++)
                    .swiper-slide
                        a(href="#" target="_blank").product-logo
                            img(src="../assets/images/startup-projects/danang-services.jpg", alt="danang-services")
                    .swiper-slide
                        a(href="#" target="_blank").product-logo
                            img(src="../assets/images/startup-projects/dayconkieunhat.jpg", alt="dayconkieunhat")
                    .swiper-slide
                        a(href="#" target="_blank").product-logo
                            img(src="../assets/images/startup-projects/greenbeli.jpg", alt="greenbeli")
                    .swiper-slide
                        a(href="#" target="_blank").product-logo
                            img(src="../assets/images/startup-projects/lyberzy.jpg", alt="lyberzy")
    section.section-awards(style="background-image: url('../../assets/images/section-awards-bg.svg')")
        .container
            .headding
                h2 Top 10 Vietnam ICT Companies 2020
                h2 Company Awarded by the VINASA
            .award-images-and-actions
                img(src="../assets/images/certification.png", alt="certification")
                a(href="#").btn.btn-lg.btn-secondary
                    span Read More
                    i.fas.fa-long-arrow-alt-right
            img.award-cup(src="../assets/images/section-awards-cup.png", alt="awards-cup")
    section.section-clients
        .title-default.ta-c
            h2 Our Clients
            p Regardless of the size and type of business of the company, there are examples of companies that using BAP developing teams.
        .clients-swiper--01.swiper
            .swiper-wrapper
                -for(i=0;i<20;i++)
                    .swiper-slide
                        .client-logo
                            img(src="../assets/images/clients/rakuten.png", alt="rakuten")
                    .swiper-slide
                        .client-logo
                            img(src="../assets/images/clients/vingroup.jpg", alt="vingroup")
        .clients-swiper--02.swiper
            .swiper-wrapper
                -for(j=0;j<20;j++)
                    .swiper-slide
                        .client-logo
                            img(src="../assets/images/clients/rakuten.png", alt="rakuten")
                    .swiper-slide
                        .client-logo
                            img(src="../assets/images/clients/vingroup.jpg", alt="vingroup")
    section.section-testimonials
        .container
            .testimonials-wrapper
                .testimonials-swiper.swiper
                    .swiper-wrapper
                        .swiper-slide
                            p.quote-content "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum odio aut, impedit libero dolores vel. Quam ut, totam officiis pariatur culpa molestiae sit illo? Quam ratione voluptas fugit mollitia et."
                            .quote-speaker
                                .speaker__avatar
                                    img(src="../assets/images/testimonials/mediotec.jpg", alt="mediotec")
                                .speaker__name  Mediotec
                                .speaker__position Co.,Ltd Matsumoto Hidemori CEO
                        .swiper-slide
                            p.quote-content "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum odio aut, impedit libero dolores vel. Quam ut, totam officiis pariatur culpa molestiae sit illo? Quam ratione voluptas fugit mollitia et."
                            .quote-speaker
                                .speaker__avatar
                                    img(src="../assets/images/testimonials/ogawa.jpeg", alt="ogawa")
                                .speaker__name  Mr.Ogawa
                                .speaker__position Assistant Manager, NTT DATA NJK Corporation
                        .swiper-slide
                            p.quote-content "Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum odio aut, impedit libero dolores vel. Quam ut, totam officiis pariatur culpa molestiae sit illo? Quam ratione voluptas fugit mollitia et."
                            .quote-speaker
                                .speaker__avatar
                                    img(src="../assets/images/testimonials/mediotec.jpg", alt="mediotec")
                                .speaker__name  Mediotec
                                .speaker__position Co.,Ltd Matsumoto Hidemori CEO
                    .swiper-button-next
                    .swiper-button-prev
    include ../components/global-company