section.section-about-hero
    .container
        .about-hero-wrapper
            .about-hero-content
                h1 Contribute Innovation To The World
                p BAP GROUP always aim to bring innovation to all products of our customers as well as our own. Technology innovations are influencing life and contribute positive changes to the society, in which BAP-ers always believe and aiming to.
                ul
                    li
                        span Company name:
                        span BAP IT CO., JSC
                    li
                        span Established:
                        span 1st Mar , 2016
                    li
                        span Capital:
                        span Japan - 5 million yen, VIETNAM - 15 million yen
            .about-image
                img(src="../assets/images/about/about-hero.png", alt="about")