section.hero-banner-01
    .hero-banner-01-swiper
        .swiper-container
            .swiper-wrapper
                a(href="#").swiper-slide
                    .banner-image
                        img(src="../assets/images/hero-banner/hero-banner-01.jpg", alt="hero-banner-01")
                    .banner-content
                        .banner-title BAP Tokyo Story
                        .banner-category News
                a(href="#").swiper-slide
                    .banner-image
                        img(src="../assets/images/hero-banner/hero-banner-02.jpg", alt="hero-banner-02")
                    .banner-content
                        .banner-title BAP Hai Noi Branch's Grand Opening
                        .banner-category News
                a(href="#").swiper-slide
                    .banner-image
                        img(src="../assets/images/hero-banner/hero-banner-03.jpg", alt="hero-banner-03")
                    .banner-content
                        .banner-title International Children's Day
                        .banner-category News
                a(href="#").swiper-slide
                    .banner-image
                        img(src="../assets/images/hero-banner/hero-banner-04.jpg", alt="hero-banner-04")
                    .banner-content
                        .banner-title BAP x DUT Blockchain Seminar
                        .banner-category News
            .swiper-pagination