section.main-slider
    .container
        .main-slider-wrapper
            .main-slider-content
                .conntent
                    h1 Technology innovation has no limit with BAP
                    p Born with an inspiring vision “Contribute innovation to the world”, BAP IT CO.,JSC. stands for Be Advanced Partner, lives to treasure our Client and Staff as our lifetime-partner, continuously innovate and grow together.
                .actions
                    a.btn.btn-lg.btn-secondary(data-fancybox href="https://www.youtube.com/watch?v=qv_v7JtetOs&ab_channel=BAPSoftware")
                        span Watch Video
                        i.fas.fa-play-circle
                    a.btn.btn-lg.btn-outline-secondary(href="#") Download Company Profile
                section.section-achievements
                    .achievements
                        .achievement__item
                            .value
                                i.fal.fa-globe-asia
                                h4(value=2)
                            .text
                                p Countries
                        .achievement__item
                            .value
                                i.fal.fa-city
                                h4(value=6)
                            .text
                                p Cities
                        .achievement__item
                            .value
                                i.fal.fa-users
                                h4(value=420)
                            .text
                                p Employees
                        .achievement__item
                            .value
                                i.fal.fa-handshake
                                h4(value=100)
                            .text
                                p Clients
                        .achievement__item
                            .value
                                i.fal.fa-project-diagram
                                h4(value=7)
                            .text
                                p Services
                        .achievement__item
                            .value
                                i.fal.fa-project-diagram
                                h4(value=220)
                            .text
                                p Projects
            .main-slider-swiper.swiper
                .swiper-wrapper
                    .swiper-slide
                        .banner-image
                            img(src="../assets/images/main-slider/hero-banner-01.jpg", alt="hero-banner-01")
                        .banner-content
                            .banner-title BAP Tokyo Story
                    .swiper-slide
                        .banner-image
                            img(src="../assets/images/main-slider/hero-banner-02.jpg", alt="hero-banner-02")
                        .banner-content
                            .banner-title BAP Hai Noi Branch's Grand Opening
                    .swiper-slide
                        .banner-image
                            img(src="../assets/images/main-slider/hero-banner-03.jpg", alt="hero-banner-03")
                        .banner-content
                            .banner-title International Children's Day
                    .swiper-slide
                        .banner-image
                            img(src="../assets/images/main-slider/hero-banner-04.jpg", alt="hero-banner-04")
                        .banner-content
                            .banner-title BAP x DUT Blockchain Seminar
                .swiper-pagination