section.page-title(style="background-image: url('../../assets/images/page-title/services.jpg')")
    .container
        .page-title-wrapper
            h1 Services
            ul.breadcrumbs
                li
                    a(href="index.html") Home
                li
                    a(href="#") Pages
                li
                    a(href="#") Services