section.page-title(style=`${url_bg_page_title}`)
    .container
        .page-title-wrapper
            h1 #{page_title}
            ul.breadcrumbs
                li
                    a(href="index.html") Home
                li
                    a(href="#") Pages
                li
                    a(href="#") #{page_title}