@import "../scss/default/varivables.scss";

.section-our-services {
    padding-top: 80px;
    .our-services-wrapper {
        padding: 80px;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        background-color: #fbfaf5;
    }
    .our-services {
        margin-top: 40px;
        display: grid;
        grid-template-columns: auto 700px;
        .nav-tabs {
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 1;
            height: fit-content;
            &:before {
                content: "";
                background: rgba(0, 0, 0, 0.1);
                height: calc(100% + 32px);
                left: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                z-index: -1;
            }
        }
        .nav-link {
            cursor: pointer;
            transition: 0.3s all ease-in-out;
            color: map-get($map: $theme-colors, $key: "txt-disable");
            font-weight: 900;
            user-select: none;
            align-items: center;
            display: inline-flex;
            gap: 8px;
            font-size: 1.25rem;
            padding: 12px 18px;
            position: relative;
            &:before {
                content: "";
                background-color: map-get(
                    $map: $theme-colors,
                    $key: "secondary"
                );
                border-radius: 10px;
                height: 100%;
                left: 0;
                position: absolute;
                top: 50%;
                transform: translate(-2.5px, -50%);
                transition: 0.2s all ease-in-out;
                width: 6px;
                opacity: 0;
            }
            &:hover {
                color: darken(
                    $color: map-get($map: $theme-colors, $key: "txt-disable"),
                    $amount: 10%
                );
            }
            &.active {
                color: map-get($map: $theme-colors, $key: "secondary");
                &:before {
                    opacity: 1;
                }
            }
        }
        .tab-pane {
            padding: 0 40px 45px;
            position: relative;
            opacity: 0;
            display: none;
            transition: opacity 0.3s ease;
            > * {
                position: relative;
                z-index: 2;
            }
            img {
                border: 4px solid #ffffff;
                border-radius: 10px;
                box-shadow: 0 4px 50px 0 #0000001a;
                display: block;
                grid-area: image;
                margin-bottom: 24px;
                max-width: 100%;
                object-fit: cover;
            }
            p {
                font-size: 1.25rem;
                text-align: center;
            }
            .call-to-actions {
                display: flex;
                justify-content: center;
                gap: 16px;
            }
            .btn {
                color: map-get($map: $theme-colors, $key: "secondary");
                &:hover {
                    color: lighten(
                        $color: map-get($map: $theme-colors, $key: "secondary"),
                        $amount: 20%
                    );
                }
            }
            &:after {
                border-radius: 30px;
                bottom: 0;
                content: "";
                height: calc(100% - 70px);
                left: 0;
                opacity: 0.1;
                position: absolute;
                width: 100%;
                background-color: #bbbbbb;
                z-index: 1;
            }
            &.active {
                display: block;
            }
            &.show {
                opacity: 1;
            }
        }
    }
}

.section-global-company {
    background-color: map-get($map: $theme-colors, $key: "primary");
    padding: 100px 0 240px;
    position: relative;
    z-index: 0;
    .global-wrapper {
        align-items: start;
        display: grid;
        gap: 30px;
        grid-template-columns: 450px 1fr;
    }
    .list-site {
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;
        margin-top: 40px;
    }
    .site__item {
        width: fit-content;
        color: #9abffb;
        background: #9ec3ff1a;
        border-radius: 5px;
        cursor: pointer;
        padding: 8px 16px;
        font-weight: 700;
        opacity: 0.5;
        &:before {
            content: "\f111";
            font-family: map-get($map: $theme-fonts, $key: "icons");
            font-size: 50%;
            margin-bottom: 4px;
            display: inline-block;
            margin-right: 8px;
        }
    }
}

.section-achievements {
    .achievements {
        background: linear-gradient(270deg, #2f9edd, #427eeb);
        border-radius: 30px;
        box-shadow: 0 5px 40px 0 #00000033;
        column-gap: 100px;
        display: flex;
        justify-content: space-between;
        padding: 52px 120px;
        position: relative;
        transform: translateY(-50%);
        z-index: 1;
    }
    .achievement__item {
        color: #ffffff;
        text-align: center;
        .fas {
            font-size: 2.5rem;
            margin-bottom: 12px;
        }
        .text {
            h4 {
                font-size: 2.5rem;
                font-weight: 900;
                line-height: 1;
            }
            p {
                font-weight: 900;
            }
        }
    }
}

.section-clients {
    .client-logo {
        background-color: #ffffff;
        border-radius: 16px;
        box-shadow: 0 4px 16px 0 #0000001a;
        display: inline-flex;
        filter: grayscale(1);
        align-items: center;
        justify-content: center;
        height: 150px;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
        min-height: 150px;
        padding: 0 20px;
        img {
            width: 100%;
            height: auto;
        }
        &:hover {
            filter: grayscale(0);
        }
    }
    .clients-swiper--01 {
        margin-top: 40px;
    }
    .clients-swiper--01,
    .clients-swiper--02 {
        overflow: hidden;
        .swiper-container {
            padding: 16px 0;
            margin: 0 -4vw;
        }
    }
}

.section-testimonials {
    padding-top: 112px;
    .testimonials-wrapper {
        background: linear-gradient(180deg, #92caf91f, #92caf900);
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        padding: 115px 80px 60px;
    }
    .quote-content {
        font-size: 1.375rem;
        margin: 0 auto 40px;
        max-width: 874px;
        width: 100%;
        text-align: center;
    }
    .speaker__avatar {
        border-radius: 50%;
        overflow: hidden;
        width: 120px;
        height: 120px;
        margin: 0 auto;
        box-shadow: 0 4px 30px 0 #00000033;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }
    .speaker__name,
    .speaker__position {
        text-align: center;
    }
    .speaker__name {
        font-size: 1.125rem;
        margin-top: 12px;
        font-weight: 700;
    }
    .speaker__position {
        color: map-get($map: $theme-colors, $key: "secondary");
        font-weight: 700;
        margin-top: 4px;
    }
    .swiper-slide {
        &:before {
            content: "\f10d";
            font-family: map-get($map: $theme-fonts, $key: "icons");
            display: block;
            text-align: center;
            font-size: 3.5rem;
            color: map-get($map: $theme-colors, $key: "secondary");
            margin-bottom: 32px;
            opacity: 0.1;
        }
    }
    .swiper-button-next:after,
    .swiper-container-rtl .swiper-button-prev:after {
        content: "\f178";
    }
    .swiper-button-prev:after,
    .swiper-container-rtl .swiper-button-next:after {
        content: "\f177";
    }
}
.swiper-button-next:after,
.swiper-button-prev:after {
    font-family: map-get($map: $theme-fonts, $key: "icons");
}
