@import "../scss/default/varivables.scss";

.section-our-services {
    padding-top: 80px;
    .our-services-wrapper {
        padding: 80px;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        background-color: #fbfaf5;
    }
    .our-services {
        margin-top: 40px;
        display: grid;
        grid-template-columns: auto 700px;
        .nav-tabs {
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 1;
            height: fit-content;
            &:before {
                content: "";
                background: rgba(0, 0, 0, 0.1);
                height: calc(100% + 32px);
                left: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                z-index: -1;
            }
        }
        .nav-link {
            cursor: pointer;
            transition: 0.3s all ease-in-out;
            color: map-get($map: $theme-colors, $key: "txt-disable");
            font-weight: 600;
            user-select: none;
            align-items: center;
            display: inline-flex;
            gap: 8px;
            padding: 12px 18px;
            position: relative;
            &:before {
                content: "";
                background-color: map-get(
                    $map: $theme-colors,
                    $key: "secondary"
                );
                border-radius: 10px;
                height: 100%;
                left: 0;
                position: absolute;
                top: 50%;
                transform: translate(-2.5px, -50%);
                transition: 0.2s all ease-in-out;
                width: 6px;
                opacity: 0;
            }
            &:hover {
                color: darken(
                    $color: map-get($map: $theme-colors, $key: "txt-disable"),
                    $amount: 10%
                );
            }
            &.active {
                color: map-get($map: $theme-colors, $key: "secondary");
                &:before {
                    opacity: 1;
                }
            }
        }
        .tab-pane {
            padding: 0 40px 45px;
            position: relative;
            opacity: 0;
            display: none;
            transition: opacity 0.3s ease;
            > * {
                position: relative;
                z-index: 2;
            }
            img {
                border: 4px solid #ffffff;
                border-radius: 10px;
                box-shadow: 0 4px 50px 0 #0000001a;
                display: block;
                grid-area: image;
                margin-bottom: 24px;
                max-width: 100%;
                object-fit: cover;
            }
            p {
                text-align: center;
            }
            .call-to-actions {
                display: flex;
                justify-content: center;
                gap: 16px;
            }
            .btn {
                color: map-get($map: $theme-colors, $key: "secondary");
                &:hover {
                    color: lighten(
                        $color: map-get($map: $theme-colors, $key: "secondary"),
                        $amount: 20%
                    );
                }
            }
            &:after {
                border-radius: 30px;
                bottom: 0;
                content: "";
                height: calc(100% - 70px);
                left: 0;
                opacity: 0.1;
                position: absolute;
                width: 100%;
                background-color: #bbbbbb;
                z-index: 1;
            }
            &.active {
                display: block;
            }
            &.show {
                opacity: 1;
            }
        }
    }
}

.section-global-company {
    background-color: map-get($map: $theme-colors, $key: "primary");
    padding: 100px 0 240px;
    position: relative;
    z-index: 0;
    .global-wrapper {
        align-items: start;
        display: grid;
        gap: 30px;
        grid-template-columns: 450px 1fr;
    }
    .countries {
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;
        margin-top: 40px;
    }
    .country__item {
        width: fit-content;
        color: #9abffb;
        background: #9ec3ff1a;
        border-radius: 5px;
        cursor: pointer;
        padding: 8px 16px;
        font-weight: 700;
        opacity: 0.5;
        transition: 0.2s all ease-in-out;
        &:before {
            content: "\f111";
            font-family: map-get($map: $theme-fonts, $key: "icons");
            font-size: 50%;
            margin-bottom: 4px;
            display: inline-block;
            margin-right: 8px;
        }
        &:hover {
            color: #fcb415;
            opacity: 1;
        }
    }
    .image-column {
        position: relative;
    }
    .locations {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: fit-content;
        background: #fbfaf5;
        border-radius: 50px;
        display: flex;
        align-items: center;
        opacity: 0;
        transition: 0.3s all ease-in-out;
        &.show {
            opacity: 1;
        }
    }
    .locations-wrapper {
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 1fr;
        height: 100%;
        width: 100%;
        padding: 30px 50px;
        img {
            width: 100%;
            border-radius: 50px;
        }
    }
    .information__locations {
        overflow-y: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    .location__item {
        .heading {
            display: flex;
            align-items: center;
            margin-bottom: 8px;
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #ffffff;
                width: 38px;
                height: 38px;
                border-radius: 50%;
                background-color: #c9ced5;
                font-weight: 500;
            }
            h4 {
                padding-left: 8px;
            }
        }
        p {
            font-size: 0.875rem;
        }
        + .location__item {
            margin-top: 16px;
        }
    }
}

.section-achievements {
    padding-top: 80px;
    .achievements {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 24px;
        position: relative;
        z-index: 1;
    }
    .achievement__item {
        text-align: center;
        padding: 32px 16px;
        box-shadow: 0px 0px 22.5px 2.5px rgba($color: #000000, $alpha: 0.1);
        border-radius: 24px;
        .fas {
            font-size: 2.5rem;
            margin-bottom: 12px;
        }
        .text {
            h4 {
                font-size: 2.5rem;
                font-weight: 900;
                line-height: 1;
            }
            p {
                font-weight: 600;
                margin-top: 4px;
            }
        }
    }
}

.section-clients {
    .client-logo {
        background-color: #ffffff;
        border-radius: 16px;
        box-shadow: 0 4px 16px 0 #0000001a;
        display: inline-flex;
        filter: grayscale(1);
        align-items: center;
        justify-content: center;
        height: 150px;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
        padding: 0 20px;
        img {
            width: 100%;
            height: auto;
        }
        &:hover {
            filter: grayscale(0);
        }
        @media (max-width: 575.98px) {
            height: 80px;
            box-shadow: 0 2px 4px 0 #0000001a;
        }
    }
    .clients-swiper--01 {
        margin-top: 40px;
        @media (max-width: 575.98px) {
            margin-top: 16px;
        }
    }
    .clients-swiper--01,
    .clients-swiper--02 {
        overflow: hidden;
        .swiper-container {
            padding: 16px 0;
            margin: 0 -4vw;
        }
        @media (max-width: 575.98px) {
            .swiper-container {
                padding: 8px 0;
            }
        }
    }
}

.section-testimonials {
    padding-top: 56px;
    .testimonials-wrapper {
        background: linear-gradient(180deg, #92caf91f, #92caf900);
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        padding: 115px 80px 60px;
    }
    .quote-content {
        font-style: italic;
        font-size: 1.25rme;
        margin: 0 auto 40px;
        max-width: 874px;
        width: 100%;
        text-align: center;
    }
    .speaker__avatar {
        border-radius: 50%;
        overflow: hidden;
        width: 120px;
        height: 120px;
        margin: 0 auto;
        box-shadow: 0 4px 16px 0 #00000033;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }
    .speaker__name,
    .speaker__position {
        text-align: center;
    }
    .speaker__name {
        font-size: 1.125rem;
        margin-top: 12px;
        font-weight: 700;
    }
    .speaker__position {
        color: map-get($map: $theme-colors, $key: "secondary");
        font-weight: 500;
        margin-top: 4px;
    }
    .swiper-slide {
        &:before {
            content: "\f10d";
            font-family: map-get($map: $theme-fonts, $key: "icons");
            display: block;
            text-align: center;
            font-size: 3.5rem;
            color: map-get($map: $theme-colors, $key: "secondary");
            margin-bottom: 32px;
            opacity: 0.1;
        }
    }
}

.section-awards {
    position: relative;
    background-color: map-get($map: $theme-colors, $key: "primary");
    > .container {
        z-index: 10;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .headding {
        h2 {
            color: #ffffff;
            font-size: 3rem;
            font-weight: 700;
            + h2 {
                margin-top: 16px;
            }
        }
    }
    .award-images-and-actions {
        display: flex;
        align-items: center;
        gap: 32px;
        margin-top: 64px;
    }
    .award-cup {
        height: 470px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 390px;
        z-index: 10;
    }
    &:after {
        content: "";
        position: absolute;
        background-image: url("../../assets/images/section-awards-bg.svg");
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-repeat: no-repeat;
        pointer-events: none;
    }
}

.section-featured-projects {
    padding-top: 72px;
    .featured-projects-swiper {
        position: relative;
        margin-top: 32px;
    }
    .featured-projects-actions {
        display: flex;
        justify-content: center;
        gap: 16px;
        margin-top: 32px;
    }
    .swiper-slide {
        padding: 8px;
    }
    .projects__item {
        &:hover {
            .item__image {
                img {
                    transform: scale(1.08);
                }
            }
            .item__desc {
                h3 {
                    color: map-get($map: $theme-colors, $key: "secondary");
                }
            }
        }
    }
    .item__image {
        align-items: center;
        background-color: rgba(165, 166, 246, 0.12);
        border-radius: 16px;
        display: flex;
        height: 250px;
        margin-bottom: 20px;
        overflow: hidden;
        padding: 0;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            object-position: center center;
            transition: 0.3s all cubic-bezier(0.04, -0.11, 0.67, 0.9);
        }
    }
    .item__desc {
        .meta {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 8px;
            .category {
                color: map-get($map: $theme-colors, $key: "secondary");
                font-weight: 600;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
            .date {
                color: map-get($map: $theme-colors, $key: "txt-disable");
                margin-bottom: 0;
                margin-left: 22px;
                position: relative;
                &:before {
                    content: "|";
                    left: -12px;
                    position: absolute;
                    top: 0;
                }
            }
        }
        h3 {
            font-weight: 700;
            font-size: 1.5rem;
            letter-spacing: 0.02em;
            color: map-get($map: $theme-colors, $key: "primary");
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: 0.3s all cubic-bezier(0.04, -0.11, 0.67, 0.9);
        }
    }
    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
        right: -56px;
    }
    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
        left: -56px;
    }
}

.section-startup-products {
    padding-top: 72px;
    padding-bottom: 32px;
    .startup-products-swiper {
        overflow: hidden;
    }
    .title-startup-products {
        margin-bottom: 16px;
        text-align: center;
        color: map-get($map: $theme-colors, $key: "secondary");
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    .product-logo {
        background-color: #ffffff;
        border-radius: 16px;
        box-shadow: 0 4px 16px 0 #0000001a;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
        height: 150px;
        padding: 20px;
        filter: grayscale(1);
        &:hover {
            filter: grayscale(0);
        }
        img {
            width: 100%;
            height: auto;
        }
    }
    .swiper-container {
        padding: 16px 0;
        margin: 0 -4vw;
    }
}
