@import "../scss/default/varivables.scss";

.section-our-services {
    padding-top: 80px;
    .our-services-wrapper {
        padding: 80px;
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        background-color: #fbfaf5;
        @media (max-width: 767.98px) {
            padding: 32px;
            border-top-left-radius: 24px;
            border-top-right-radius: 24px;
            border-bottom-left-radius: 24px;
            border-bottom-right-radius: 24px;
        }
        @media (max-width: 575.98px) {
            padding: 16px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }
    .our-services {
        margin-top: 40px;
        display: grid;
        grid-template-columns: auto 700px;
        .nav-tabs {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            position: relative;
            z-index: 1;
            height: fit-content;
            &:before {
                content: "";
                background: rgba(0, 0, 0, 0.1);
                height: calc(100% + 32px);
                left: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                z-index: -1;
            }
            @media (max-width: 1024.98px) {
                flex-direction: row;
                gap: 24px;
                &:before {
                    content: none;
                }
            }
        }
        .nav-link {
            cursor: pointer;
            transition: 0.3s all ease-in-out;
            color: map-get($map: $theme-colors, $key: "txt-disable");
            font-weight: 600;
            user-select: none;
            align-items: center;
            display: inline-flex;
            gap: 8px;
            padding: 12px 18px;
            position: relative;
            &:before {
                content: "";
                background-color: map-get(
                    $map: $theme-colors,
                    $key: "secondary"
                );
                border-radius: 10px;
                height: 100%;
                left: 0;
                position: absolute;
                top: 50%;
                transform: translate(-2.5px, -50%);
                transition: 0.2s all ease-in-out;
                width: 6px;
                opacity: 0;
            }
            &:hover {
                color: darken(
                    $color: map-get($map: $theme-colors, $key: "txt-disable"),
                    $amount: 10%
                );
            }
            &.active {
                color: map-get($map: $theme-colors, $key: "secondary");
                &:before {
                    opacity: 1;
                }
            }
            @media (max-width: 1024.98px) {
                padding: 0;
                &:before {
                    content: none;
                }
            }
        }
        .tab-pane {
            padding: 0 40px 45px;
            position: relative;
            display: none;
            > * {
                position: relative;
                z-index: 2;
            }
            img {
                border: 4px solid #ffffff;
                border-radius: 10px;
                box-shadow: 0 4px 50px 0 #0000001a;
                display: block;
                grid-area: image;
                margin-bottom: 24px;
                max-width: 100%;
                object-fit: cover;
            }
            p {
                text-align: center;
            }
            .call-to-actions {
                display: flex;
                justify-content: center;
                gap: 16px;
            }
            .btn {
                color: map-get($map: $theme-colors, $key: "secondary");
                &:hover {
                    color: lighten(
                        $color: map-get($map: $theme-colors, $key: "secondary"),
                        $amount: 20%
                    );
                }
            }
            &:after {
                border-radius: 30px;
                bottom: 0;
                content: "";
                height: calc(100% - 70px);
                left: 0;
                opacity: 0.1;
                position: absolute;
                width: 100%;
                background-color: #bbbbbb;
                z-index: 1;
                @media (max-width: 767.98px) {
                    border-radius: 10px;
                }
                @media (max-width: 575.98px) {
                    content: none;
                }
            }
            &.show {
                display: block;
            }
            @media (max-width: 575.98px) {
                padding: 0;
            }
        }
        @media (max-width: 1199.98px) {
            grid-template-columns: auto 500px;
        }
        @media (max-width: 1024.98px) {
            grid-template-columns: 1fr;
            gap: 24px;
        }
    }
    @media (max-width: 767.98px) {
        padding-top: 36px;
    }
}

.section-clients {
    overflow: hidden;
    padding-top: 72px;
    .client-logo {
        background-color: #ffffff;
        border-radius: 16px;
        box-shadow: 0 4px 16px 0 #0000001a;
        display: inline-flex;
        filter: grayscale(1);
        align-items: center;
        justify-content: center;
        height: 150px;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
        padding: 0 20px;
        img {
            width: 100%;
            height: auto;
        }
        &:hover {
            filter: grayscale(0);
        }
        @media (max-width: 575.98px) {
            height: 80px;
            box-shadow: 0 2px 4px 0 #0000001a;
        }
    }
    .clients-swiper--01,
    .clients-swiper--02 {
        padding: 16px 0;
        margin: 0 -4vw;
        @media (max-width: 575.98px) {
            padding: 8px 0;
        }
    }
    .clients-swiper--01 {
        margin-top: 40px;
        @media (max-width: 575.98px) {
            margin-top: 16px;
        }
    }
    @media (max-width: 575.98px) {
        padding-top: 36px;
    }
}

.section-testimonials {
    padding-top: 56px;
    .testimonials-wrapper {
        background: linear-gradient(180deg, #92caf91f, #92caf900);
        border-top-left-radius: 100px;
        border-top-right-radius: 100px;
        padding: 80px 60px;
        @media (max-width: 767.98px) {
            border-top-left-radius: 24px;
            border-top-right-radius: 24px;
            padding: 56px;
        }
        @media (max-width: 575.98px) {
            padding: 24px;
        }
    }
    .quote-content {
        font-style: italic;
        margin: 0 auto 40px;
        max-width: 874px;
        width: 100%;
        text-align: center;
        @media (max-width: 575.98px) {
            font-size: 1rem;
        }
    }
    .speaker__avatar {
        border-radius: 50%;
        overflow: hidden;
        width: 120px;
        height: 120px;
        margin: 0 auto;
        box-shadow: 0 4px 16px 0 #00000033;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }
    .speaker__name,
    .speaker__position {
        text-align: center;
    }
    .speaker__name {
        font-size: 1.125rem;
        margin-top: 12px;
        font-weight: 700;
    }
    .speaker__position {
        color: map-get($map: $theme-colors, $key: "secondary");
        font-weight: 500;
        margin-top: 4px;
    }
    .swiper-button-next,
    .swiper-button-prev {
        @media (max-width: 767.98px) {
            display: none;
        }
    }
    .swiper-slide {
        &:before {
            content: "\f10d";
            font-family: map-get($map: $theme-fonts, $key: "icons");
            display: block;
            text-align: center;
            font-size: 2rem;
            color: map-get($map: $theme-colors, $key: "secondary");
            margin-bottom: 16px;
            opacity: 0.1;
        }
    }
    .swiper-button-next,
    .swiper-button-prev {
        color: map-get($map: $theme-colors, $key: "secondary");
    }
    .swiper-button-next:after,
    .swiper-container-rtl .swiper-button-prev:after {
        content: "\f178";
    }
    .swiper-button-prev:after,
    .swiper-container-rtl .swiper-button-next:after {
        content: "\f177";
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-family: map-get($map: $theme-fonts, $key: "icons");
    }
    @media (max-width: 575.98px) {
        padding-top: 32px;
    }
}

.section-awards {
    position: relative;
    background-color: map-get($map: $theme-colors, $key: "primary");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    > .container {
        z-index: 10;
        padding-top: 100px;
        padding-bottom: 100px;
        @media (max-width: 1199.98px) {
            padding-top: 56px;
            padding-bottom: 56px;
        }
    }
    .headding {
        h2 {
            color: #ffffff;
            font-size: 3rem;
            font-weight: 700;
            + h2 {
                margin-top: 16px;
            }
            @media (max-width: 1199.98px) {
                font-size: 2.25rem;
            }
            @media (max-width: 575.98px) {
                font-size: 1.5rem;
                text-align: center;
            }
        }
    }
    .award-images-and-actions {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 32px;
        margin-top: 64px;
        @media (max-width: 1199.98px) {
            margin-top: 56px;
        }
        @media (max-width: 575.98px) {
            margin-top: 32px;
            justify-content: center;
        }
    }
    .award-cup {
        height: 470px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 390px;
        z-index: 10;
        @media (max-width: 1199.98px) {
            display: none;
        }
    }
}

.section-featured-projects {
    padding-top: 72px;
    overflow: hidden;
    .featured-projects-swiper {
        position: relative;
        margin-top: 32px;
        @media (max-width: 575.98px) {
            margin-top: 16px;
        }
    }
    .featured-projects-actions {
        display: flex;
        justify-content: center;
        gap: 16px;
        margin-top: 32px;
    }
    .swiper-slide {
        padding: 8px;
    }
    .projects__item {
        &:hover {
            .item__image {
                img {
                    transform: scale(1.08);
                }
            }
            .item__desc {
                h3 {
                    color: map-get($map: $theme-colors, $key: "secondary");
                }
            }
        }
    }
    .item__image {
        align-items: center;
        background-color: rgba(165, 166, 246, 0.12);
        border-radius: 16px;
        display: flex;
        height: 250px;
        margin-bottom: 20px;
        overflow: hidden;
        padding: 0;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            object-position: center center;
            transition: 0.3s all cubic-bezier(0.04, -0.11, 0.67, 0.9);
        }
    }
    .item__desc {
        .meta {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 8px;
            .category {
                font-size: 0.75rem;
                color: map-get($map: $theme-colors, $key: "secondary");
                font-weight: 600;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
            .date {
                font-size: 0.75rem;
                color: map-get($map: $theme-colors, $key: "txt-disable");
                margin-bottom: 0;
                margin-left: 22px;
                position: relative;
                &:before {
                    content: "|";
                    left: -12px;
                    position: absolute;
                    top: 0;
                }
            }
        }
        h3 {
            font-weight: 700;
            font-size: 1.5rem;
            letter-spacing: 0.02em;
            color: map-get($map: $theme-colors, $key: "primary");
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: 0.3s all cubic-bezier(0.04, -0.11, 0.67, 0.9);
        }
    }
    .swiper-button-next:after,
    .swiper-container-rtl .swiper-button-prev:after {
        content: "\f178";
    }
    .swiper-button-prev:after,
    .swiper-container-rtl .swiper-button-next:after {
        content: "\f177";
    }
    .swiper-button-next:after,
    .swiper-button-prev:after {
        font-family: map-get($map: $theme-fonts, $key: "icons");
    }
    .swiper-button-next,
    .swiper-button-prev {
        color: map-get($map: $theme-colors, $key: "secondary");
        top: 38%;
        display: none;
        @media (min-width: 1440px) {
            display: block;
        }
    }
    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
        @media (min-width: 1440px) {
            right: -56px;
        }
    }
    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
        @media (min-width: 1440px) {
            left: -56px;
        }
    }
    @media (max-width: 575.98px) {
        padding-top: 36px;
    }
}

.section-startup-products {
    padding-top: 72px;
    padding-bottom: 32px;
    overflow: hidden;
    .startup-products-swiper {
        padding: 16px 0;
        margin: 0 -4vw;
    }
    .title-startup-products {
        font-size: 1.25rem;
        margin-bottom: 16px;
        text-align: center;
        color: map-get($map: $theme-colors, $key: "secondary");
        font-weight: 700;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    .product-logo {
        background-color: #ffffff;
        border-radius: 16px;
        box-shadow: 0 4px 16px 0 #0000001a;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        transition: all 0.2s ease-in-out;
        height: 150px;
        padding: 20px;
        filter: grayscale(1);
        &:hover {
            filter: grayscale(0);
        }
        img {
            width: 100%;
            height: auto;
        }
    }
}

.section-why-us {
    position: relative;
    padding-top: 72px;
    &:after {
        border-bottom-left-radius: 300px;
        border-top-left-radius: 300px;
        background-color: #f5f8ff;
        content: "";
        height: 400px;
        position: absolute;
        right: 0;
        bottom: 32px;
        width: calc(50% - 56px);
        z-index: -1;
        @media (max-width: 575.98px) {
            width: 50%;
        }
    }
    .why-us-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 56px;
        @media (max-width: 1024.98px) {
            grid-template-columns: 1fr;
        }
    }
    .why-us-content {
        .title-default {
            h2 {
                font-family: map-get($map: $theme-fonts, $key: "title");
            }
        }
        p {
            margin: 16px 0;
        }
        ul {
            li {
                + li {
                    margin-top: 16px;
                }
                span {
                    display: block;
                    &:first-child {
                        font-weight: 600;
                        &::before {
                            color: map-get(
                                $map: $theme-colors,
                                $key: "secondary"
                            );
                        }
                    }
                    &::before {
                        font-family: map-get($map: $theme-fonts, $key: "icons");

                        margin-right: 8px;
                    }
                    + span {
                        font-size: 0.875rem;
                        margin-top: 8px;
                        &:before {
                            content: "\f00c";
                            padding-left: 24px;
                        }
                    }
                }
                &:first-child {
                    span {
                        &:first-child {
                            &::before {
                                content: "\f0c0";
                            }
                        }
                    }
                }
                &:nth-child(2) {
                    span {
                        &:first-child {
                            &::before {
                                content: "\f121";
                            }
                        }
                    }
                }
                &:nth-child(3) {
                    span {
                        &:first-child {
                            &::before {
                                content: "\f49e";
                            }
                        }
                    }
                }
                &:last-child {
                    span {
                        &:first-child {
                            &::before {
                                content: "\f57e";
                            }
                        }
                    }
                }
            }
        }
    }
    .why-us-image {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        @media (max-width: 1024.98px) {
            display: none;
        }
    }
    @media (max-width: 575.98px) {
        padding-top: 36px;
    }
}
