.page-title {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: $height-header + $position-header-fixed;
    min-height: 450px;
    &:before {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: #131313;
        opacity: 0.8;
        content: "";
        pointer-events: none;
    }
}

.page-title-wrapper {
    padding: 56px 0;
    h1 {
        font-size: 4rem;
        color: #ffffff;
        margin-bottom: 16px;
        font-family: map-get($map: $theme-fonts, $key: "title");
    }
}
