.lcl {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    &-1 {
        -webkit-line-clamp: 1;
    }
    &-2 {
        -webkit-line-clamp: 2;
    }
    &-3 {
        -webkit-line-clamp: 3;
    }
    &-4 {
        -webkit-line-clamp: 4;
    }
    &-5 {
        -webkit-line-clamp: 5;
    }
}

.swiper-button-next,
.swiper-button-prev {
    color: map-get($map: $theme-colors, $key: "secondary");
}
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
    content: "\f178";
}
.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
    content: "\f177";
}
.swiper-button-next:after,
.swiper-button-prev:after {
    font-family: map-get($map: $theme-fonts, $key: "icons");
}
