.section-our-services {
  padding-top: 80px;
}

.section-our-services .our-services-wrapper {
  padding: 80px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  background-color: #fbfaf5;
}

@media (max-width: 767.98px) {
  .section-our-services .our-services-wrapper {
    padding: 32px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }
}

@media (max-width: 575.98px) {
  .section-our-services .our-services-wrapper {
    padding: 16px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.section-our-services .our-services {
  margin-top: 40px;
  display: grid;
  grid-template-columns: auto 700px;
}

.section-our-services .our-services .nav-tabs {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  height: fit-content;
}

.section-our-services .our-services .nav-tabs:before {
  content: "";
  background: rgba(0, 0, 0, 0.1);
  height: calc(100% + 32px);
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  z-index: -1;
}

@media (max-width: 1024.98px) {
  .section-our-services .our-services .nav-tabs {
    flex-direction: row;
    gap: 24px;
  }
  .section-our-services .our-services .nav-tabs:before {
    content: none;
  }
}

.section-our-services .our-services .nav-link {
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  color: #bbbbbb;
  font-weight: 600;
  user-select: none;
  align-items: center;
  display: inline-flex;
  gap: 8px;
  padding: 12px 18px;
  position: relative;
}

.section-our-services .our-services .nav-link:before {
  content: "";
  background-color: #0057e2;
  border-radius: 10px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translate(-2.5px, -50%);
  transition: 0.2s all ease-in-out;
  width: 6px;
  opacity: 0;
}

.section-our-services .our-services .nav-link:hover {
  color: #a2a2a2;
}

.section-our-services .our-services .nav-link.active {
  color: #0057e2;
}

.section-our-services .our-services .nav-link.active:before {
  opacity: 1;
}

@media (max-width: 1024.98px) {
  .section-our-services .our-services .nav-link {
    padding: 0;
  }
  .section-our-services .our-services .nav-link:before {
    content: none;
  }
}

.section-our-services .our-services .tab-pane {
  padding: 0 40px 45px;
  position: relative;
  display: none;
}

.section-our-services .our-services .tab-pane > * {
  position: relative;
  z-index: 2;
}

.section-our-services .our-services .tab-pane img {
  border: 4px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 50px 0 #0000001a;
  display: block;
  grid-area: image;
  margin-bottom: 24px;
  max-width: 100%;
  object-fit: cover;
}

.section-our-services .our-services .tab-pane p {
  text-align: center;
}

.section-our-services .our-services .tab-pane .call-to-actions {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.section-our-services .our-services .tab-pane .btn {
  color: #0057e2;
}

.section-our-services .our-services .tab-pane .btn:hover {
  color: #498fff;
}

.section-our-services .our-services .tab-pane:after {
  border-radius: 30px;
  bottom: 0;
  content: "";
  height: calc(100% - 70px);
  left: 0;
  opacity: 0.1;
  position: absolute;
  width: 100%;
  background-color: #bbbbbb;
  z-index: 1;
}

@media (max-width: 767.98px) {
  .section-our-services .our-services .tab-pane:after {
    border-radius: 10px;
  }
}

@media (max-width: 575.98px) {
  .section-our-services .our-services .tab-pane:after {
    content: none;
  }
}

.section-our-services .our-services .tab-pane.show {
  display: block;
}

@media (max-width: 575.98px) {
  .section-our-services .our-services .tab-pane {
    padding: 0;
  }
}

@media (max-width: 1199.98px) {
  .section-our-services .our-services {
    grid-template-columns: auto 500px;
  }
}

@media (max-width: 1024.98px) {
  .section-our-services .our-services {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}

@media (max-width: 767.98px) {
  .section-our-services {
    padding-top: 36px;
  }
}

.section-global-company {
  background-color: #062350;
  padding: 100px 0;
  position: relative;
  z-index: 0;
}

.section-global-company .global-wrapper {
  align-items: start;
  display: grid;
  gap: 30px;
  grid-template-columns: 450px 1fr;
}

@media (max-width: 1199.98px) {
  .section-global-company .global-wrapper {
    grid-template-columns: 1fr;
    align-items: center;
    gap: 48px;
  }
}

.section-global-company .countries {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  margin-top: 40px;
}

@media (max-width: 1199.98px) {
  .section-global-company .countries {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1024.98px) {
  .section-global-company .countries {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767.98px) {
  .section-global-company .countries {
    grid-template-columns: repeat(1, 1fr);
  }
}

.section-global-company .country__item {
  position: relative;
  width: fit-content;
  color: #9abffb;
  background: #9ec3ff1a;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px 16px 8px 32px;
  font-weight: 700;
  opacity: 0.5;
  transition: 0.2s all ease-in-out;
}

.section-global-company .country__item:before {
  content: "\f111";
  font-family: "Font Awesome 5 Pro";
  font-size: 50%;
  display: inline-block;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  line-height: 1;
  position: absolute;
}

.section-global-company .country__item:hover, .section-global-company .country__item.active {
  color: #fcb415;
  opacity: 1;
}

.section-global-company .image-column {
  position: relative;
}

.section-global-company .image-column img {
  width: 100%;
  height: auto;
  pointer-events: none;
}

.section-global-company .image-column .marker {
  cursor: pointer;
  background-color: #82c8ee;
  border-radius: 10px;
  box-shadow: 0 0 0 7px rgba(129, 200, 238, 0.3);
  display: inline-block;
  height: 12px;
  position: absolute;
  transition: 0.3s all ease-in-out;
  width: 12px;
}

.section-global-company .image-column .marker[target="1"] {
  left: 68%;
  top: 30%;
}

.section-global-company .image-column .marker[target="2"] {
  left: 72%;
  top: 40%;
}

.section-global-company .image-column .marker[target="3"] {
  left: 72%;
  top: 46%;
}

.section-global-company .image-column .marker[target="4"] {
  left: 66%;
  top: 52%;
}

.section-global-company .image-column .marker[target="5"] {
  right: 0;
  top: 0;
}

.section-global-company .image-column .marker[target="6"] {
  right: 0;
  top: 10%;
}

.section-global-company .image-column .marker:hover, .section-global-company .image-column .marker.active {
  background-color: #fcb415;
  box-shadow: 0 0 0 7px rgba(252, 180, 21, 0.3);
}

@media (max-width: 1199.98px) {
  .section-global-company .image-column {
    max-width: 600px;
    margin: 0 auto;
  }
}

.section-global-company .location__item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: fit-content;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  opacity: 0;
  transition: 0.3s all ease-in-out;
  pointer-events: none;
  display: grid;
  gap: 24px;
  grid-template-columns: 1fr 1fr;
  padding: 24px;
  border-radius: 24px;
  backdrop-filter: blur(4px);
}

.section-global-company .location__item.show {
  opacity: 1;
  pointer-events: visible;
}

.section-global-company .location__item img {
  width: 100%;
  border-radius: 24px;
}

@media (max-width: 575.98px) {
  .section-global-company .location__item {
    grid-template-columns: 1fr;
    top: unset;
    bottom: 0;
  }
}

.section-global-company .location__info li {
  color: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.section-global-company .location__info li > a {
  color: inherit;
  transition: 0.3s all ease-in-out;
}

.section-global-company .location__info li:hover > a {
  color: #fcb415;
}

.section-global-company .location__info li:before {
  font-family: "Font Awesome 5 Pro";
  position: absolute;
  left: 0;
  top: 0;
  color: inherit;
  transition: 0.3s all ease-in-out;
}

.section-global-company .location__info li:first-child:before {
  content: "\f1ad";
}

.section-global-company .location__info li:nth-child(2):before {
  content: "\f3c5";
}

.section-global-company .location__info li:last-child:before {
  content: "\f095";
}

.section-global-company .location__info li + li {
  margin-top: 16px;
}

@media (max-width: 575.98px) {
  .section-global-company {
    padding: 56px 0;
  }
}

.section-clients {
  overflow: hidden;
  padding-top: 72px;
}

.section-clients .client-logo {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 16px 0 #0000001a;
  display: inline-flex;
  filter: grayscale(1);
  align-items: center;
  justify-content: center;
  height: 150px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  padding: 0 20px;
}

.section-clients .client-logo img {
  width: 100%;
  height: auto;
}

.section-clients .client-logo:hover {
  filter: grayscale(0);
}

@media (max-width: 575.98px) {
  .section-clients .client-logo {
    height: 80px;
    box-shadow: 0 2px 4px 0 #0000001a;
  }
}

.section-clients .clients-swiper--01,
.section-clients .clients-swiper--02 {
  padding: 16px 0;
  margin: 0 -4vw;
}

@media (max-width: 575.98px) {
  .section-clients .clients-swiper--01,
  .section-clients .clients-swiper--02 {
    padding: 8px 0;
  }
}

.section-clients .clients-swiper--01 {
  margin-top: 40px;
}

@media (max-width: 575.98px) {
  .section-clients .clients-swiper--01 {
    margin-top: 16px;
  }
}

@media (max-width: 575.98px) {
  .section-clients {
    padding-top: 36px;
  }
}

.section-testimonials {
  padding-top: 56px;
}

.section-testimonials .testimonials-wrapper {
  background: linear-gradient(180deg, #92caf91f, #92caf900);
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  padding: 80px 60px;
}

@media (max-width: 767.98px) {
  .section-testimonials .testimonials-wrapper {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    padding: 56px;
  }
}

@media (max-width: 575.98px) {
  .section-testimonials .testimonials-wrapper {
    padding: 24px;
  }
}

.section-testimonials .quote-content {
  font-style: italic;
  margin: 0 auto 40px;
  max-width: 874px;
  width: 100%;
  text-align: center;
}

@media (max-width: 575.98px) {
  .section-testimonials .quote-content {
    font-size: 1rem;
  }
}

.section-testimonials .speaker__avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  box-shadow: 0 4px 16px 0 #00000033;
}

.section-testimonials .speaker__avatar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.section-testimonials .speaker__name,
.section-testimonials .speaker__position {
  text-align: center;
}

.section-testimonials .speaker__name {
  font-size: 1.125rem;
  margin-top: 12px;
  font-weight: 700;
}

.section-testimonials .speaker__position {
  color: #0057e2;
  font-weight: 500;
  margin-top: 4px;
}

@media (max-width: 767.98px) {
  .section-testimonials .swiper-button-next,
  .section-testimonials .swiper-button-prev {
    display: none;
  }
}

.section-testimonials .swiper-slide:before {
  content: "\f10d";
  font-family: "Font Awesome 5 Pro";
  display: block;
  text-align: center;
  font-size: 2rem;
  color: #0057e2;
  margin-bottom: 16px;
  opacity: 0.1;
}

.section-testimonials .swiper-button-next,
.section-testimonials .swiper-button-prev {
  color: #0057e2;
}

.section-testimonials .swiper-button-next:after,
.section-testimonials .swiper-container-rtl .swiper-button-prev:after {
  content: "\f178";
}

.section-testimonials .swiper-button-prev:after,
.section-testimonials .swiper-container-rtl .swiper-button-next:after {
  content: "\f177";
}

.section-testimonials .swiper-button-next:after,
.section-testimonials .swiper-button-prev:after {
  font-family: "Font Awesome 5 Pro";
}

@media (max-width: 575.98px) {
  .section-testimonials {
    padding-top: 32px;
  }
}

.section-awards {
  position: relative;
  background-color: #062350;
  background-repeat: no-repeat;
  pointer-events: none;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.section-awards > .container {
  z-index: 10;
  padding-top: 100px;
  padding-bottom: 100px;
}

@media (max-width: 1199.98px) {
  .section-awards > .container {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}

.section-awards .headding h2 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 700;
}

.section-awards .headding h2 + h2 {
  margin-top: 16px;
}

@media (max-width: 1199.98px) {
  .section-awards .headding h2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575.98px) {
  .section-awards .headding h2 {
    font-size: 1.5rem;
    text-align: center;
  }
}

.section-awards .award-images-and-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 32px;
  margin-top: 64px;
}

@media (max-width: 1199.98px) {
  .section-awards .award-images-and-actions {
    margin-top: 56px;
  }
}

@media (max-width: 575.98px) {
  .section-awards .award-images-and-actions {
    margin-top: 32px;
    justify-content: center;
  }
}

.section-awards .award-cup {
  height: 470px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 390px;
  z-index: 10;
}

@media (max-width: 1199.98px) {
  .section-awards .award-cup {
    display: none;
  }
}

.section-featured-projects {
  padding-top: 72px;
  overflow: hidden;
}

.section-featured-projects .featured-projects-swiper {
  position: relative;
  margin-top: 32px;
}

@media (max-width: 575.98px) {
  .section-featured-projects .featured-projects-swiper {
    margin-top: 16px;
  }
}

.section-featured-projects .featured-projects-actions {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 32px;
}

.section-featured-projects .swiper-slide {
  padding: 8px;
}

.section-featured-projects .projects__item:hover .item__image img {
  transform: scale(1.08);
}

.section-featured-projects .projects__item:hover .item__desc h3 {
  color: #0057e2;
}

.section-featured-projects .item__image {
  align-items: center;
  background-color: rgba(165, 166, 246, 0.12);
  border-radius: 16px;
  display: flex;
  height: 250px;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.section-featured-projects .item__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center center;
  transition: 0.3s all cubic-bezier(0.04, -0.11, 0.67, 0.9);
}

.section-featured-projects .item__desc .meta {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.section-featured-projects .item__desc .meta .category {
  font-size: 0.75rem;
  color: #0057e2;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.section-featured-projects .item__desc .meta .date {
  font-size: 0.75rem;
  color: #bbbbbb;
  margin-bottom: 0;
  margin-left: 22px;
  position: relative;
}

.section-featured-projects .item__desc .meta .date:before {
  content: "|";
  left: -12px;
  position: absolute;
  top: 0;
}

.section-featured-projects .item__desc h3 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.02em;
  color: #062350;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.3s all cubic-bezier(0.04, -0.11, 0.67, 0.9);
}

.section-featured-projects .swiper-button-next:after,
.section-featured-projects .swiper-container-rtl .swiper-button-prev:after {
  content: "\f178";
}

.section-featured-projects .swiper-button-prev:after,
.section-featured-projects .swiper-container-rtl .swiper-button-next:after {
  content: "\f177";
}

.section-featured-projects .swiper-button-next:after,
.section-featured-projects .swiper-button-prev:after {
  font-family: "Font Awesome 5 Pro";
}

.section-featured-projects .swiper-button-next,
.section-featured-projects .swiper-button-prev {
  color: #0057e2;
  top: 38%;
  display: none;
}

@media (min-width: 1440px) {
  .section-featured-projects .swiper-button-next,
  .section-featured-projects .swiper-button-prev {
    display: block;
  }
}

@media (min-width: 1440px) {
  .section-featured-projects .swiper-button-next,
  .section-featured-projects .swiper-container-rtl .swiper-button-prev {
    right: -56px;
  }
}

@media (min-width: 1440px) {
  .section-featured-projects .swiper-button-prev,
  .section-featured-projects .swiper-container-rtl .swiper-button-next {
    left: -56px;
  }
}

@media (max-width: 575.98px) {
  .section-featured-projects {
    padding-top: 36px;
  }
}

.section-startup-products {
  padding-top: 72px;
  padding-bottom: 32px;
  overflow: hidden;
}

.section-startup-products .startup-products-swiper {
  padding: 16px 0;
  margin: 0 -4vw;
}

.section-startup-products .title-startup-products {
  font-size: 1.25rem;
  margin-bottom: 16px;
  text-align: center;
  color: #0057e2;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.section-startup-products .product-logo {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 16px 0 #0000001a;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  height: 150px;
  padding: 20px;
  filter: grayscale(1);
}

.section-startup-products .product-logo:hover {
  filter: grayscale(0);
}

.section-startup-products .product-logo img {
  width: 100%;
  height: auto;
}

/*# sourceMappingURL=home.css.map */