.section-news-detail {
  padding-top: 120px;
  position: relative;
}

@media (max-width: 1024.98px) {
  .section-news-detail {
    padding-top: 36px;
  }
}

.news-detail__banner {
  margin-bottom: 24px;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 24px;
}

.news-detail__content h2,
.news-detail__content h3 {
  margin: 24px 0;
}

.news-detail__content h2 {
  font-size: 3rem;
}

.news-detail__content h3 {
  font-size: 2.25rem;
}

.news-detail__content p {
  margin: 24px 0;
}

.news-detail__content ul {
  padding-left: 24px;
  list-style: disc;
}

.sidebar {
  position: sticky;
  top: 32px;
}

.sidebar__title {
  font-size: 1.25rem;
  padding-left: 20px;
}

.sidebar__single + .sidebar__single {
  margin-top: 32px;
}

.sidebar__post,
.sidebar__category {
  position: relative;
  display: block;
  padding: 46px 30px 30px;
  background-color: rgba(0, 87, 226, 0.05);
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
}

.sidebar__post-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 24px;
}

.sidebar__post-list li a {
  color: inherit;
  display: flex;
  align-items: center;
  padding: 16px 20px;
  transition: all 500ms ease;
  border-radius: 10px;
}

.sidebar__post-list li a .sidebar__post-image {
  flex: 0 0 70px;
  max-width: 70px;
  border-radius: 10px;
  overflow: hidden;
}

.sidebar__post-list li a .sidebar__post-content {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  padding-left: 16px;
}

.sidebar__post-list li a:hover {
  background-color: #ffffff;
}

@media (max-width: 1024.98px) {
  .sidebar__post-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767.98px) {
  .sidebar__post-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.sidebar__category-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 24px;
  gap: 8px;
}

.sidebar__category-list li a {
  color: inherit;
  display: flex;
  align-items: center;
  padding: 16px 20px;
  transition: all 500ms ease;
  border-radius: 10px;
}

.sidebar__category-list li a:hover {
  background-color: #ffffff;
}

.sidebar__category-list li.current a {
  background-color: #ffffff;
}

@media (max-width: 1024.98px) {
  .sidebar__category-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767.98px) {
  .sidebar__category-list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.news-detail__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 0 30px;
  margin-top: 49px;
  border-top: 1px solid #eef1f5;
}

.news-detail__tags {
  display: flex;
  align-items: center;
}

.news-detail__tags span {
  color: #0e2207;
  font-size: 20px;
  margin-right: 14px;
}

.news-detail__tags a {
  position: relative;
  font-size: 12px;
  background-color: #0057e2;
  color: #ffffff;
  display: inline-block;
  padding: 8px 16px;
  transition: all 500ms ease;
  border-radius: 35px;
}

.news-detail__tags a + a {
  margin-left: 8px;
}

.news-detail__social-list {
  display: flex;
  align-items: center;
}

.news-detail__social-list a {
  color: inherit;
  position: relative;
  height: 43px;
  width: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f8f6f1;
  font-size: 15px;
  border-radius: 50%;
  overflow: hidden;
  transition: all 500ms ease;
  z-index: 1;
}

.news-detail__social-list a + a {
  margin-left: 8px;
}

.news-detail__social-list a:hover {
  color: #ffffff;
  background-color: #0057e2;
}

/*# sourceMappingURL=news-detail.css.map */