.button-play-video-fixed {
    position: fixed;
    right: 30px;
    bottom: calc(30px + 46px + 16px);
    height: 46px;
    width: 46px;
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    transition: all 200ms linear;
    &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    @media (max-width: 575.98px) {
        right: 16px;
        bottom: 16px;
        height: 32px;
        width: 32px;
        bottom: calc(16px + 32px + 16px);
    }
}
